 <div class="<%= location %>" >
    <div><%= link_to "Home", root_path %></li>
    <div><%= link_to "About", about_me_path %></li>
    <div><%= link_to "Contact", contact_path %></li>
    <div><%= link_to "Blog", blogs_path %></li>
    <div><%= link_to "Portfolio", portfolios_path %></li>
</div>

